In [11]:
import pandas as pd

In [15]:
pd = pd.read_excel('contacts.xlsx')

In [19]:
pd.head()

    This list of contacts was updated on 11/10/2020.
0  Note: The contact information needs to be sepa...
1
2                                       contact_info
3  {"contact_id": 4661, "name": "Cecilia Velasco"...
4  {"contact_id": 3765, "name": "Mariana Ellis", ...

In [ ]:

contact_id = []
first_name = []
last_name = []
email = []
data_list = []

for row in pd:
    contact =